	<nav class="navbar bottom navbar-expand-lg navbar-light bg-light">	
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">	
				<a href="https://github.com/kenny-stevens">Github</a>
			</li>
			<li class="nav-item">	
				<a href="https://www.linkedin.com/in/kennystevens1111/">LinkedIn</a>
			</li>
			<li class="nav-item">	
				<a href="#">CV</a>
			</li>
			<li class="nav-item">	
				<a href="/#">Kenny Stevens</a>
			</li>
		</ul>
	</nav>

	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="public/javascript/portfolio.js"></script>
</body>
</html>