<div id="home" class="row d-flex container-fluid">
	<h1 class="display-1" id="heading">Kenny Stevens</h1>
	<h1 class="display-4" id="subheading"><span>Aspiring</span> <span>Software Engineer</span> <span>/ Data Scientest</span></h1>
	<p>
		<!-- This will say good afternoon from 12 to 6 -->
		<!-- Good evening from 6pm - 3am -->
		<!-- Good morning from 3am - 12pm -->
		Good evening. I'm a BSc undergrad with a passion for developing sleak and elegant algorithms.
	</p>
	<blockquote class="blockquote">
		<p class="mb-0">"A winner is a dreamer who never gives up"</p>
 		<footer class="blockquote-footer">Nelson Mandela</footer>
	</blockquote>

</div>