<div id="home" class="row d-flex container-fluid">
	<h1 class="display-1 heading">Kenny Stevens</h1>
	<h4 class="heading"><span>Aspiring</span> <span>Software Developer</span> <span>/ Data Scientest</span></h4>
</div>