<% include ./partials/header %>
<div class="container">
	
	<div id="home" class="row d-flex container-fluid">
		<!-- <div> -->
			<h1 class="display-1 heading">Kenny Stevens</h1>
			<h4 class="heading"><span>Aspiring</span> <span>Software Developer</span> <span>/ Data Scientest</span></h4>
			<div id="bottom-arrow-home"><i class="arrow circle down icon"></i></div>
		<!-- </div> -->
	</div>
	<nav class="navbar fixed-top">
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#brief">Brief</a></li>
			<li><a href="#stacks">Stacks</a></li>
			<li><a href="#projects">Projects</a></li>
		</ul>
	</nav>
	<div id="brief" class="row d-flex">
		<h1 class="content">Brief</h1>
		<p>htrwgtr gtsw ger g erg e5g w g gew gwe ge gw3 g 53g 35w gh35 qh 53hg3 g g3 g34 g 345g 43 f43w g3w gw3q gt5q3t43w g43 qg43w</p>
	</div>
	<div id="stacks" class="row d-flex">
		<h1>Stacks</h1>
		<p>htrwgtr gtsw ger g erg e5g w g gew gwe ge gw3 g 53g 35w gh35 qh 53hg3 g g3 g34 g 345g 43 f43w g3w gw3q gt5q3t43w g43 qg43w</p>
	</div>
	<div id="projects" class="row d-flex">
		<h1>Projects</h1>
		<p>htrwgtr gtsw ger g erg e5g w g gew gwe ge gw3 g 53g 35w gh35 qh 53hg3 g g3 g34 g 345g 43 f43w g3w gw3q gt5q3t43w g43 qg43w</p>
	</div>
</div>
<% include ./partials/footer %>