


.heading {
	text-transform: uppercase;
	text-align: center;
	color: white;
}

body {
	height: 100vh;
	background-color: gray;
}



/*.container {
	css smooth scroll
}*/


.home-background {
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: 100vh;
	height: 100vh;
	z-index: -1;
}

/*@media (min-aspect-ratio: 16/9) {
	.home-background {
		width: 100vh;
		height: auto;
	}
}

@media (min-aspect-ratio: 16/9) {
	.home-background {
		width: auto;
		height: 10vh;
	}
}*/

.arrows {
	color: white;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 500;
	font-size: 2rem;
}

#up-arrow, #down-arrow {
	width: 50px;
}

.up{
	top: 10%;
}

.down {
	bottom: 10%;
}

i.arrow {
	margin: 0;
}

#home, #projects, #stacks, #brief {
	flex-direction: column;
	/*padding-top: 4rem;*/
	/*flex-direction: center;*/
	/*align-items: center;*/
	justify-content: center;
	height: 100vh;
}

$enable-responsive-font-sizes: true;
